Repository dev-demo-edu/gompyo: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-js, eslint-js, prevent-env-commit

prettier-js:
  name: Prettier (JavaScript/TypeScript Code Formatter)
  entry: bash -c 'pnpm prettier --write --cache "{src,pages,components,lib,hooks,context,utils,styles}/**/*.{js,jsx,ts,tsx,css,json,md}"'
  language: system
  pass_filenames: false
  verbose: true

eslint-js:
  name: ESLint (JavaScript/TypeScript Code Linter)
  entry: bash -c 'pnpm eslint --fix --cache "{src,pages,components,lib,hooks,context,utils,styles}/**/*.{js,jsx,ts,tsx}"'
  language: system
  pass_filenames: false
  verbose: true

prevent-env-commit:
  name: .env 파일 커밋 방지
  entry: 'bash -c ''echo -e "\033[31mERROR: .env 파일은 커밋할 수 없습니다. .env.example 파일을 대신 사용하세요.\033[0m" && exit 1''
  
    '
  language: system

chore:: backend db setting #1
  README.md
  initdb.js
  package.json
  testdb.js
Due: prettier-js, eslint-js

chore: drizzle setting #3
  README.md
  drizzle.config.ts
  drizzle.test.ts
  initdb.js
  package.json
  src/db/schema.ts
Due: prettier-js, eslint-js

[Feature] Plan 페이지에 Material-UI 버튼 컴포넌트 추가
  src/containers/plan.tsx
Due: prettier-js, eslint-js

[Refactor] 문서 테이블 재설계 및 ID 타입 ULID로 변경
  .cursor/rules/custom-cursor-rule.mdc
  package.json
  src/db/schema.ts
  testdb.js
Due: prettier-js, eslint-js

[Chore]: gitignore수정
  .cursor/rules/custom-cursor-rule.mdc
  .gitignore
Due: none

[feature] User Create/Search 기본 API Route 생성
  gompyo-db.sqlite
  package-lock.json
  src/api/users.ts
  src/app/api/setup/route.ts
  src/app/api/users/route.ts
  src/app/users/index.tsx
  src/containers/dashboard.tsx
  src/db/db.ts
  src/db/schema.ts
  src/types/user.ts
Due: prettier-js, eslint-js

chore: nextjs 15.2.3 업그레이드
  .cursor/rules/custom-cursor-rule.mdc
  .github/PULL_REQUEST_TEMPLATE.md
  .github/conventions.js.md
  .github/conventions.py.md
  .github/workflows/auto-assign-reviewers.yml
  package.json
Due: prettier-js

chore: basic db setting
  .cursor/rules/custom-cursor-rule.mdc
  drizzle/0000_mighty_fixer.sql
  drizzle/database.sqlite
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  next.config.js
  package.json
  src/app/actions/plan.ts
  src/app/layout.tsx
  src/app/plan/page.tsx
  src/components/ThemeRegistry.tsx
  src/containers/plan.tsx
  src/db/index.ts
  src/db/migrate.ts
  src/db/schema.ts
  src/styles/theme.ts
  src/types/plan.ts
Due: prettier-js, eslint-js

chore: db delete
  .gitignore
Due: none

chore: db delete
  drizzle/0000_mighty_fixer.sql
  drizzle/database.sqlite
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
Due: prettier-js

chore: db package setting
  README.md
  package.json
Due: prettier-js

chore: 커서룰 업데이트 및 next.config.js 삭제
  .cursor/rules/custom-cursor-rule.mdc
  next.config.js
  next.config.ts
Due: prettier-js, eslint-js

feat: Navbar 업데이트 및 Shipment grid view 추가
  package.json
  src/actions/plan.ts
  src/app/test/page.tsx
  src/components/example-grid.tsx
  src/components/shipment-grid.tsx
  src/constants/dummy-data.ts
  src/containers/dashboard.tsx
  src/containers/nav-link.tsx
  src/containers/navbar.tsx
  src/containers/plan.tsx
Due: prettier-js, eslint-js

[feature]: 선적 관리 페이지 상세보기 기본틀 추가
  database.sqlite
  package-lock.json
  package.json
  src/containers/shipment.tsx
  src/db/index.ts
Due: prettier-js, eslint-js

feat: Plan, Shipment 그리드 뷰 구현
  src/components/plan-grid.tsx
  src/constants/dummy-data.ts
  src/containers/dashboard.tsx
  src/containers/shipment.tsx
Due: prettier-js, eslint-js

feat: Navbar 반응형 모바일 뷰 구현
  src/app/layout.tsx
  src/containers/nav/mobile-app-bar.tsx
  src/containers/nav/nav-link.tsx
  src/containers/nav/navigation-item.tsx
  src/containers/nav/sidebar-header.tsx
  src/containers/navbar.tsx
Due: prettier-js, eslint-js

feat: 선적 관리, 계획 관리 페이지 뷰 구현
  src/components/plan-grid.tsx
  src/components/shipment-grid.tsx
  src/containers/dashboard.tsx
  src/containers/shipment.tsx
Due: prettier-js, eslint-js

docs: update conventions and add project structure in README
  .cursor/rules/custom-cursor-rule.mdc
  .github/conventions.js.md
  .github/conventions.py.md
  README.md
Due: prettier-js

refactor: UI 업데이트
  src/app/globals.css
  src/app/layout.tsx
  src/containers/nav/mobile-app-bar.tsx
  src/containers/nav/navigation-item.tsx
  src/containers/navbar.tsx
  src/styles/theme.ts
Due: prettier-js, eslint-js

feat: new contract make
  src/app/actions/plan.ts
  src/containers/plan.tsx
  src/services/cargo.service.ts
  src/services/contract.service.ts
  src/services/cost-detail.service.ts
  src/services/cost.service.ts
  src/services/document.service.ts
  src/services/item.service.ts
  src/services/payment.service.ts
  src/services/shipment.service.ts
  src/types/plan.ts
Due: prettier-js, eslint-js

feat: 선적 관리, 계획 관리 페이 지 뷰 반응형으로 구현
  src/components/plan-grid.tsx
  src/components/shipment-grid.tsx
  src/containers/dashboard.tsx
  src/containers/shipment.tsx
Due: prettier-js, eslint-js

chore: update node version
  .node-version
  README.md
Due: prettier-js

fix: delete viewport metadata in layout
  src/app/layout.tsx
Due: prettier-js, eslint-js

feat: new contract make #6
  src/app/actions/item.ts
  src/app/actions/plan.ts
  src/containers/plan.tsx
  src/services/payment.service.ts
  src/types/plan.ts
Due: prettier-js, eslint-js

feat: new contract make #6
  .github/conventions.js.md
Due: none

Update conventions.js.md
  .github/conventions.js.md
Due: none

style(navbar): 스타일 다듬기
  src/containers/nav/navigation-item.tsx
  src/containers/navbar.tsx
Due: prettier-js, eslint-js

fix: import 경로 수정
  src/containers/plan.tsx
Due: prettier-js, eslint-js

feat: example-grid에 언어 설정 추가
  package.json
  src/components/example-grid.tsx
Due: prettier-js, eslint-js

feat: plan-grid, shipment-grid에 언어 설정 추가
  src/components/plan-grid.tsx
  src/components/shipment-grid.tsx
Due: prettier-js, eslint-js

refactor: plan-grid, shipment-grid 공통 컴포넌트 추가
  src/components/data-grid.tsx
  src/components/plan-grid.tsx
  src/components/shipment-grid.tsx
Due: prettier-js, eslint-js

feat: plan 페이지에 plan-grid 추가 및 DB 연결
  src/actions/item.ts
  src/actions/plan.ts
  src/app/plan/page.tsx
  src/components/plan-grid.tsx
  src/containers/dashboard.tsx
  src/containers/plan-button.tsx
  src/containers/plan.tsx
Due: prettier-js, eslint-js

style: 통계 정보 표시 형식 수정
  src/containers/plan.tsx
  src/containers/shipment.tsx
Due: prettier-js, eslint-js

feat: Dashboard 페이지 구현
  src/containers/dashboard.tsx
Due: prettier-js, eslint-js

feat: Shipment grid와 DB 연동
  src/actions/shipment.ts
  src/components/plan-grid.tsx
  src/components/shipment-grid.tsx
  src/constants/dummy-data.ts
  src/types/grid-col.ts
Due: prettier-js, eslint-js

feat: detail-form and dynamic route
  src/app/detail/[cargo_id]/page.tsx
  src/components/detail-form.tsx
Due: prettier-js, eslint-js

[feature]: 계약 등록 화물 상세 보기 - 상품 검색 버그 수정 및 향상
  src/actions/item.ts
  src/containers/plan-button.tsx
  src/services/item.service.ts
Due: prettier-js, eslint-js

[feature]: 대쉬보드 계획현황 카드 - 선적 경로 Route 디자인 향상
  src/containers/dashboard.tsx
Due: prettier-js, eslint-js

detail view layout impl
  src/actions/cargo-detail.ts
  src/actions/plan.ts
  src/app/detail/[cargo_id]/page.tsx
  src/components/detail-form.tsx
  src/containers/cargo-detail.tsx
  src/db/schema.ts
  src/hooks/use-toast.tsx
  src/services/cargo-calculator.ts
  src/services/cost-detail.service.ts
  src/services/cost.service.ts
  src/services/payment.service.ts
Due: prettier-js, eslint-js

feat: 그리드에 상세보기 버튼 추가
  src/actions/item.ts
  src/actions/plan.ts
  src/actions/shipment.ts
  src/app/detail/[cargo_id]/page.tsx
  src/components/data-grid.tsx
  src/components/plan-grid.tsx
  src/components/shipment-grid.tsx
  src/containers/dashboard.tsx
  src/containers/plan-button.tsx
  src/services/item.service.ts
Due: prettier-js, eslint-js

Path conditions:
  prettier-js: any of: \.(js|jsx|ts|tsx|css|json|md)$, but not: (?x)^(
  node_modules/|
  build/|
  dist/|
  __tests__/|
  __mock__/|
  __mocks__/|
  __fixtures__/|
  public/|
  .github/|
  .next/|
  coverage/
)

  eslint-js: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  build/|
  dist/|
  __tests__/|
  __mock__/|
  __mocks__/|
  __fixtures__/|
  public/|
  .github/|
  .next/|
  coverage/
)

  prevent-env-commit: any of: \.env, but not: \.env\.example$
